<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">

</head>
<body>
    <h1 id="ContactHeader">contacts</h1>
    <div class="contactBody">
        <ol>
            <li id="contactHeaderList">
                <span class="ejsName">Name</span>
                <span class="ejsNumber">Number</span>
                <span class='del'> Delete Button</span>
            </li>
        </ol>
        <ul>
            <% contact.forEach( el => { %>
                <label class="dropDownMenu">
                    <li class='enteredContact' data-id='<%=el._id%>' data-toggle="el.toggle" >
                        <span class="ejsName <%= el.toggle === true ? 'dropped' : 'notDropped'%>"><%= el.name %></span>
                        <span class="ejsNumber <%= el.toggle === true ? 'dropped' : 'notDropped'%>"><%= el.number %></span>
                        <span class='del'> Delete Button</span>
                    </li>
                </label>
                <div class='dropDownNav <%= el.toggle === true ? 'dropped' : 'notDropped'%>'>
                    <a href="#" class="dropDownChild">Call</a>
                    <a href="#" class="dropDownChild">Message</a>
                    <a href="#" class="dropDownChild">Info</a>
                </div>
            <% }) %>    
        </ul>
    </div>
    <div class="footer">
        <a href="/">Home</a>
        <a href="/contact">Contacts</a>
        <a href="/call">Call</a>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>