<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">

</head>
<body>
    <h1>contacts</h1>
    <ol id="contactHeader">
        <li id="contactHeaderList">
            <span class="ejsName">Name</span>
            <span class="ejsNumber">Number</span>
            <span class='del'> Delete Button</span>
        </li>
    </ol>
    <ul>
        <% contact.forEach( el => { %>
            <li class='enteredContact' data-id='<%=el._id%>' data-toggle='<%=el.toggle%>'>
                <span class="ejsName"><%= el.name %></span>
                <span class="ejsNumber"><%= el.number %></span>
                <span class='del'> Delete Button</span>
            </li>
            <ol class='<%= el.toggle === true ? 'toggleTrue' : 'toggleOff'%> dropDownNav'>
                <li class="dropDown"> Call</li>
                <li class="dropDown"> Message</li>
                <li class="dropDown"> Info</li>
            </ol>
        <% }) %>    
    </ul>
    <a href="/">Home page</a>

    <script src="js/main.js"></script>
</body>
</html>